{% extends'Layout/layout.html.twig' %}
{% block body %}
    {% block titre %} Equipe {% endblock %}
    <table>
    {% for user in equipe%}
        <tr>
            <td> {{ user.firstname }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}